/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 160vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Variables */
:root {
  --radius: 12px;
  --btn-size: 3rem;
}

/* Style */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  user-select: none;
  /* background: #f2f2f8; */
  /* justify-content: space-evenly; */
  /* display: grid; */
  /* place-items: start center; */
  /* place-items: center; */
}
.player-wrapper {
  width: 45%;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  border-radius: var(--radius);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.aspect-spacer {
  padding-bottom: 56.25%;
}
#video-section {
  position: relative;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: 1; */
  background-color: #000;
}

#player-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: background 0.1s ease-in-out;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
#private-player-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: background 0.1s ease-in-out;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.player-controls__inner {
  height: var(--btn-size);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 0 10px 10px 10px;
}

.player--hover #player-controls {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 100%
  );
}

.player--hover .btn {
  display: flex;
}

.player--hover #settings-menu.open {
  display: block;
}

.btn {
  outline: none;
  appearance: none;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-appearance: none;
  background: transparent;
  position: absolute;
  bottom: 10px;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  display: none;
  border-radius: var(--btn-size);
}

.btn--icon {
  width: var(--btn-size);
  height: var(--btn-size);
  justify-content: center;
  align-items: center;
}

.btn:focus {
  border: 2px solid #fff;
}

.icon {
  fill: #fff;
}

#play {
  left: 15px;
}

#mute {
  left: calc(25px + var(--btn-size));
}
#private-play {
  left: 15px;
}

#private-mute {
  left: calc(25px + var(--btn-size));
}
#settings {
  right: calc(15px + var(--btn-size));
}
#fullscreen {
  right: 15px;
}
.icon--settings {
  transition: transform 0.15s ease-in-out;
}

.btn--pause .icon--pause {
  display: none;
}

.btn--play .icon--play {
  display: none;
}

.btn--mute .icon--volume_off {
  display: none;
}

.btn--unmute .icon--volume_up {
  display: none;
}

.btn--settings-on .icon--settings {
  transform: rotate(45deg);
}

#settings-menu {
  width: 180px;
  height: auto;
  padding: 20px 0;
  position: absolute;
  right: 10px;
  bottom: 55px;
  background: #000;
  z-index: 2;
  display: none;
  border-radius: 10px;
  color: #fff;
}

.settings-menu-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  display: block;
  cursor: pointer;
}

.settings-menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}
#private-settings-menu {
  width: 180px;
  height: auto;
  padding: 20px 0;
  position: absolute;
  right: 10px;
  bottom: 55px;
  background: #000;
  z-index: 5;
  /* display: none; */
  border-radius: 10px;
  color: #fff;
}

.private-settings-menu-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  display: block;
  cursor: pointer;
}

.private-settings-menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

#video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  background: #000;
  border-radius: var(--radius);
}

/* Utility - Position */
.pos-absolute {
  position: absolute !important;
}
.pos-fixed {
  position: fixed !important;
}
.pos-relative {
  position: relative !important;
}
.top-0 {
  top: 0 !important;
}
.bottom-0 {
  bottom: 0 !important;
}

/* Utility - Width/Height */
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  border-radius: 10px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content-full {
  background-color: #fefefe;
  padding: 20px;
  width: 100%; /* Could be more or less, depending on screen size */
  height: 100%;
  overflow: hidden;
}
#requestButton {
  margin-top: 20px;
}
.double-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}
/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 9999;
  /* top: 45%;
  left: 45%;
  transform: translate(-50%, -50%); */
  width: 50px;
  height: 50px;
  border: 3px solid #555;
  border-top: 3px solid #fff;
  /* display: none; */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.toast {
  position: fixed;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 15px 25px 15px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #fb5ba2;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #fb5ba2;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .toast-message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.toast-message .text {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}

.toast-message .text.text-t {
  font-weight: 600;
  color: #333;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #fb5ba2;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
/* video::-webkit-media-controls-fullscreen-button { */
/* display: none; */
/* } */

/* video::-webkit-media-controls {
  display: none;
} */
